{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="{% static '/CSS/reset.css' %}" />
   <link rel="stylesheet" href="{% static '/CSS/styles.css' %}" />
</head>
<body>
   <h1>Створення облікового запису</h1>
   <form id="registrationForm" method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="id_username">Нік</label>
      {{ form.username }}

      <label for="id_first_name">ПІБ</label>
      {{ form.first_name }}

      <label for="id_gender">Стать</label>
      {{ form.gender }}

      <label for="id_age">Вік</label>
      {{ form.age }}

      <label class="country" for="id_country">Країна</label>
      {{ form.country }}

      <label for="id_phone">Номер телефону</label>
      {{ form.phone }}

      <label for="id_email">Пошта</label>
      {{ form.email }}

      <label for="id_password1">Пароль</label>
      {{ form.password1 }}

      <label for="id_password2">Підтвердити пароль</label>
      {{ form.password2 }}

      <label for="id_profile_photo">Фото профілю</label>
      {{ form.profile_photo }}

      <input class="reg-button" type="submit" value="Create User">
   </form>
   {{ form.errors }}
   <a href="{% url 'home' %}" class="reg-button">На головну</a>
   <a href="{% url 'signin' %}" class="reg-button">Увійти</a>

   <script src="{% static 'JS/script.js' %}"></script>
</body>
</html>
